.dark-trans,
.toast-md .toast-wrapper {
  background-color: rgba(0, 0, 0, .4);
}

.text-header{
  padding-top: 15px;
}

.text-error{
  color: colors($colors, danger);
}

.text-title {
	color: color($colors, primary);
	font-size: 3.5em;
	text-shadow: 1px 1px #B4AAA8;
  padding: 0;
  margin: 0;
}

.text-primary {
  color: color($colors, primary);
}

.title-button{
  align: center;
  padding-right: 48px !important;
}

.menu-button{
  color: color($colors, primary);
  display: block !important;
}

.blank-space{ 
  padding: 15px;
}

.store-page{
  .scroll-content{
    overflow: hidden;
    padding: 0 !important;
    background-image: radial-gradient(circle, #d5dfed, #f7f8f9, #a9c7f2);
    .store-pic{ 
      border-color: rgba(0, 0, 0, 0);
      //background-color: color($colors, primary);
      background: url("../assets/imgs/bluebg4.jpg") no-repeat;
      background-size: cover;
      padding: 0;

      .item-inner{
        padding: 0;
        border-width: 0;
      }

      .avatar-img img{
        margin: auto;
        border-radius:50%;
        height:14rem;
        width:14rem;
        border-width: 1px;
        border-color: white;
        border-style: double;
      }
      label{
        margin-top: 10px;
        color: white;

      }
      p{
        color: white;
        opacity: 0.6;
        margin-top: 10px; 
      }
    }

    .service-type{
      text-align: center;
      padding: 10px;

      ion-card{
        display: flex;
        flex-direction: column;
        width: 100% !important;
        margin: 0 !important;

        ion-card-header{
          text-align: left;
        }
        ion-card-content{
          text-align: left;

          p{
            color: #a9a9a9;
            padding-bottom: 5px;
          }
        }
      }
    }
  }
}


.search-page{
  .scroll-content{
    padding: 0 !important;
    overflow: hidden;
    .search-bar{
      background-color: color($colors, primary);
      padding: 20px;
      padding-bottom: 0px;
      .location-input{
        width: 50%;
      }

      .data-input{
        width: 45%;
      }

      .data-input-right{
        width: 45%;
        float: right;
      }

      .tabs-selector{
        .tabs{
          align-items: center;
          padding-left: 12px;
          .active{
            color: white;
            border-bottom: 2px solid white;
          }

          .disable{
            color: lighten(gray, 75%);
          }

          label{
            min-width: 75px;
            max-width: 75px;
            padding: 5px;
            display: inline-block;
            text-align: center;
          }
        }
      }
    }

    .information-selector{

      .tabs{
        align-items: center;
        padding-left: 20px;
        padding-bottom: 6px;
        padding-top: 6px;
        background-color: color($colors, primary);
        label{
          color: white;
          min-width: 115px;
          max-width: 115px;
          padding: 0px;
          display: inline-block;
          text-align: center;
        }
      }
    }

    .store-cards{
      padding: 6px;
      .info{
        display: inline-block;
        img{
          padding: 6px;
        }
        h1{
          padding: 6px;
          color: darken(color($colors, primary), 20%);
        }
        h2{
          padding: 6px;
          color: darken(color($colors, primary), 20%);
        }
      }

      .ratings{
        display: inline-block;
        text-align: right;
        label{
          width: 140px !important; 
          padding: 6px;
          display: block;
          text-align: right;
          color: darken(color($colors, primary), 20%);
        }
        .stars{
          padding: 6px;
          color: darken(yellow, 5%);
        }
      }
    }
  }
}

.profile-page{
  background: url("../assets/imgs/bg.jpg") no-repeat;
  background-size: cover;
  .scroll-content{
    padding: 0 !important;
    overflow: hidden;

    .profile-separator{
      padding: 18px;
      border-color: #f2f2f2;
      border-style: groove;
      border-top-width: 1px;
      border-bottom-width: 1px;
      border-left-width: 0;
      border-right-width: 0;
      background-color: #f3f2f7;
    }
    .button-container{
      margin-top: 50px;
      margin-left: 25px;
      margin-right: 25px;
      .logout-button{
        background-color: darken(color($colors, primary), 35%);
      }
    }

    .profile-pic{ 
      border-color: rgba(0, 0, 0, 0);
      //background-color: color($colors, primary);
      background: url("../assets/imgs/bluebg4.jpg") no-repeat;
      background-size: cover;
      padding: 0;

      .item-inner{
          padding: 0;
          border-width: 0;
      }

      .avatar-img img{
        margin: auto;
        border-radius:50%;
        height:14rem;
        width:14rem;
        border-width: 1px;
        border-color: white;
        border-style: double;
      }
      h1{
        margin-top: 10px;
        color: white;

      }
      p{
        color: white;
        opacity: 0.6;
        margin-top: 10px; 
      }
    }

    .options-list ion-item{
      margin-left: 2px;
      right: 0;
      z-index: 0;
      text-align: left;
      border-color: rgba(0, 0, 0, 0);
      background-color: rgba(0, 0, 0, 0);
      padding: 2.5px;
      color: color($colors, primary);

      .item-inner{
        padding-left: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
  }
}

.register-page{
  background: url("../assets/imgs/bg.jpg") no-repeat;
  background-size: cover;
  .scroll-content {
    align-items: center;
    justify-content: center;
    overflow: hidden;


    .login-button{
      background-color: darken(color($colors, primary), 35%);
      margin-top: 50px;
    }

    .list-form {
      padding: 0;
      margin-bottom: 0;
      margin-left: 15px;
      margin-right: 15px;
      ion-item {
        padding: 0;
        border-color: rgba(0, 0, 0, 0);
        background-color: rgba(0, 0, 0, 0);
        ion-label {
          font-size: 1em;
          color: darken(color($colors, primary), 35%);
        }

        ion-input {
          color: color($colors, primary);
        }
      }
    }
  }
}

.auth-page {
    content: "";
    background: url("../assets/imgs/bg.jpg") no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 0;

  .scroll-content {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    .login-content {
      width: 86%;

      .logo {
        width: 150px;
        height: 150px;
        margin: 0px auto 0;
        border-radius: 10%;
        background: url("../assets/imgs/logoPicVet.png") no-repeat;
        background-size: 100%;
      }

      .login-button{
      	background-color: darken(color($colors, primary), 35%);
        margin-top: 50px;
      }

      .list-form {
        padding: 0;
        margin-bottom: 0;
        ion-item {
          padding: 0;
          border-color: rgba(0, 0, 0, 0);
          background-color: rgba(0, 0, 0, 0);
          ion-label {
            font-size: 1em;
            color: darken(color($colors, primary), 35%);
          }

          ion-input {
            color: color($colors, primary);
          }
        }
      }
    }
  }
 }

//Calendario
.calendar-page{
  background: url("../assets/imgs/bg.jpg") no-repeat;
  background-size: cover;
  [col-1] {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.33333%;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 14.285714285714286%;
    width: 14.285714285714286%;
    max-width: 14.285714285714286%;
  }
  .col {
    text-align: center;
    padding: 5px;
  }
  .last-month, .next-month {
    color: #999999;
    font-size: 90%;
  }
  .currentDate, .otherDate {
    padding: 5px;
  }
  .currentDate {
    font-weight: bold;
    background-color: red;
    color: white;
    border-radius: 30px;
  }
  .calendar-header {
    background-color: darken(color($colors, primary), 15%);
    color: #FFFFFF;
  }
  .event-bullet {
    margin: 2px auto;
    height: 5px;
    width: 5px;
    background-color: green;
    border-radius: 30px;
  }
  .selected-date {
    width: 20px;
    height: 2px;
    background-color: blue;
  }
  .unselected-date {
    border: none;
  }
  .calendar-body {
    .grid {
      padding: 0;
    }
    .col:last-child {
      border-right: none;
    }
    .calendar-weekday, .calendar-date {
      text-align: center;
      margin: 0;
    }
    .calendar-weekday {
      font-weight: bold;
      border-bottom: solid 1px #1a732d;
      background-color: color($colors, primary);
    }
    .calendar-date {
      border-top: solid 1px #1a732d;
      border-bottom: solid 1px #1a732d;
    }
  }
  .event-list{
    text-align: center;
    padding: 10px;

    ion-card{
      display: flex;
      flex-direction: column;
      width: 100% !important;
      margin: 0 !important;

      ion-card-header{
        text-align: left;
      }
      ion-card-content{
        text-align: left;
        padding: 8px;

        p{
          color: #a9a9a9;
          padding-bottom: 5px;
        }
      }
    }
  }
}

.vaccine-page{
  background: url("../assets/imgs/bg.jpg") no-repeat;
  background-size: cover;
  .profile-separator{
    padding: 18px;
    border-color: #f2f2f2;
    border-style: groove;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 0;
    border-right-width: 0;
    background-color: #f3f2f7;
  }
  .profile-pic{ 
    border-color: rgba(0, 0, 0, 0);
    //background-color: color($colors, primary);
    background: url("../assets/imgs/bluebg4.jpg") no-repeat;
    background-size: cover;
    padding: 0;

    .item-inner{
        padding: 0;
        border-width: 0;
    }

    .avatar-img img{
      margin: auto;
      border-radius:50%;
      height:14rem;
      width:14rem;
      border-width: 1px;
      border-color: white;
      border-style: double;
    }
    h1{
      margin-top: 10px;
      color: white;

    }
    p{
      color: white;
      opacity: 0.6;
      margin-top: 10px; 
    }
  }
  .card{
    height: 100px;
    margin-bottom: 7px; 
    p{
      color: #a9a9a9;
      padding-bottom: 5px;
    }
  }
}
