.dark-trans,
.toast-md .toast-wrapper {
  background-color: rgba(0, 0, 0, .4);
}

.text-header{
  paddin-top: 15px;
}

.text-error{
  color: colors($colors, danger);
}

.text-title {
	color: color($colors, primary);
	font-size: 3.5em;
	text-shadow: 1px 1px #B4AAA8;
  padding: 0;
  margin: 0;
}

.text-primary {
  color: color($colors, primary);
}

.title-button{
  align: center;
  padding-right: 48px !important;
}

.menu-button{
  color: color($colors, primary);
}

.profile-page{
  background: url("../assets/imgs/bg.jpg") no-repeat;
  background-size: cover;
  .scroll-content{
    padding: 0 !important;

    .profile-separator{
      padding: 18px;
      border-color: #f2f2f2;
      border-style: groove;
      border-top-width: 1px;
      border-bottom-width: 1px;
      border-left-width: 0;
      border-right-width: 0;
      background-color: #f3f2f7;
    }

    .profile-pic{ 
      border-color: rgba(0, 0, 0, 0);
      //background-color: color($colors, primary);
      background: url("../assets/imgs/bluebg4.jpg") no-repeat;
      background-size: cover;
      padding: 0;

      .item-inner{
          padding: 0;
          border-width: 0;
      }

      .avatar-img img{
        margin: auto;
        border-radius:50%;
        height:14rem;
        width:14rem;
        border-width: 1px;
        border-color: white;
        border-style: double;
      }
      h1{
        margin-top: 10px;
        color: white;

      }
      p{
        color: white;
        opacity: 0.6;
        margin-top: 10px; 
      }
    }

    .options-list ion-item{
      margin-left: 2px;
      right: 0;
      z-index: 0;
      text-align: left;
      border-color: rgba(0, 0, 0, 0);
      background-color: rgba(0, 0, 0, 0);
      padding: 2.5px;
      color: color($colors, primary);

      .item-inner{
        padding-left: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
  }
}

.auth-page {
    content: "";
    background: url("../assets/imgs/bg.jpg") no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 0;

  .scroll-content {
    display: flex;
    align-items: center;
    justify-content: center;

    .login-content {
      width: 86%;


      .logo {
        width: 150px;
        height: 150px;
        margin: 0px auto 0;
        border-radius: 10%;
        background: url("../assets/imgs/logoPicVet.png") no-repeat;
        background-size: 100%;
      }

      .login-button{
      	background-color: darken(color($colors, primary), 35%);
        margin-top: 50px;
      }

      .list-form {
        padding: 0;
        margin-bottom: 0;
        ion-item {
          padding: 0;
          ion-label {
            font-size: 1em;
            color: darken(color($colors, primary), 35%);
          }

          input {
            color: color($colors, primary);
          }
        }
      }
    }
  }
 }