
<ion-header>
  <ion-navbar color="primary">
  <button ion-button menuToggle>
  	<ion-icon name="menu"></ion-icon>
  </button>
    <ion-title align="center" class="title-button">Estabelecimentos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="search-page">

	<div class="search-bar">
		<input type="text" class="css-input loctaion-input" placeholder="O que você está procurando?" [(ngModel)]="storeName" style="width: 100%">
	
		<div class="blank-space"></div>

		<div style="width: 100%; display: inline-block;">
			<input type="text" class="data-input css-input" placeholder="Onde?" [(ngModel)]="storeLocation">

			<input type="text" class="data-input-right css-input" placeholder="Quando?" [(ngModel)]="storeDate">		
		</div>

		<div class="blank-space"></div>

		<div class="tabs-selector">
			<div class="tabs">
				<label *ngIf="tabs.cons" class="active" tappable (click)="toggleCons()">Consultas</label>
				<label *ngIf="!tabs.cons" class="disabled" tappable (click)="toggleCons()">Consultas</label>

				<label *ngIf="tabs.exam" class="active" tappable (click)="toggleExam()">Exames</label>
				<label *ngIf="!tabs.exam" class="disabled" tappable (click)="toggleExam()">Exames</label>

				<label *ngIf="tabs.bath" class="active" tappable (click)="toggleBath()">Banho</label>
				<label *ngIf="!tabs.bath" class="disabled" tappable (click)="toggleBath()">Banho</label>

				<label *ngIf="tabs.tosa" class="active" tappable (click)="toggleTosa()">Tosa</label>
				<label *ngIf="!tabs.tosa" class="disabled" tappable padding (click)="toggleTosa()">Tosa</label>
			</div>
		</div>
	</div>

	<div style="padding: 8px;"></div>

	<div #map id='map' *ngIf="maps"></div>

	<ion-scroll scrollY="true" style="height: 400px" *ngIf="!maps">
		<ion-list>
			<store-info *ngFor="let s of selected" [store]="s" tappable (click)="showStore(s)"></store-info>
		</ion-list>
	</ion-scroll>

	<ion-footer class="information-selector" >
		<div class="tabs">
			<label padding>Resultados ({{results}})</label>
			<label icon-start style="padding-left: 6px;" tappable (click)="selectOrder()"><ion-icon name="list"></ion-icon> Ordenar</label>
			<label icon-start style="padding-right: 6px;" tappable (click)="search()"><ion-icon name="search"></ion-icon> Pesquisa</label>
		</div>
	</ion-footer>
	
</ion-content>
